<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Network Communication Monitor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" media="screen" />
    <link rel="Bookmark" href="~/favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts  -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/simple-line-icons.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Daterange Picker -->
    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- Switchery -->
    <link rel="stylesheet" href="~/assets/plugins/switchery/switchery.min.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- Rewrtite CSS-->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <!-- Feature detection -->
    <script src="~/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/vendor/html5shiv.js"></script>
    <script src="assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section id="main-wrapper" class="theme-default">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="~/Home/Homepage" class="logo">
                    <i class="fa fa-desktop"></i>
                    <span>Network</span>Monitor
                </a>
            </div>
            <!--logo end-->
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
                <li class="hidden-xs hidden-sm">
                    <input type="text" class="search" placeholder="Search project...">
                    <button type="submit" class="btn btn-sm btn-search">
                        <i class="fa fa-search"></i>
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown profile hidden-xs">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="text">@Session["username"]</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <br />
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>My Account
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-cog"></i>
                                </span>Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="Index">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="toggle-fullscreen hidden-xs">
                    <button type="button" class="btn btn-default expand" id="toggle-fullscreen">
                        <i class="fa fa-expand"></i>
                    </button>
                </li>
            </ul>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar sidebar-left">
            <div class="sidebar-profile">
                <div class="profile-body dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>@Session["username"] <span class="caret"></span></h4></a>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>My Account
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-cog"></i>
                                </span>Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="Index">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <h5 class="sidebar-header">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-dropdown">
                        <a href="Homepage" title="Network">
                            <i class="fa  fa-fw fa-share-alt"></i> Network
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" title="Account">
                            <i class="fa  fa-fw fa-user"></i> Account
                            <span class="label label-primary label-circle pull-right">@ViewData["NumAccounts"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Card" title="Credit Card">
                            <i class="fa  fa-fw fa-credit-card"></i> Credit Card
                            <span class="label label-primary label-circle pull-right">@ViewData["NumCards"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Store" title="Stores">
                            <i class="fa  fa-fw fa-home"></i> Stores
                            <span class="label label-primary label-circle pull-right">@ViewData["NumStores"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Station" title="Relay Stations">
                            <i class="fa  fa-fw fa-flag-checkered"></i> Relay Stations
                            <span class="label label-primary label-circle pull-right">@ViewData["NumRelays"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Transaction" title="Transactions">
                            <i class="fa  fa-fw fa-exchange"></i> Transactions
                            <span class="label label-primary label-circle pull-right">@ViewData["NumTransactions"]</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!--sidebar left end-->
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>Account Detail</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li>
                            <a href="~/Home/Homepage">Network</a>
                        </li>
                        <li class="active">Account Detail</li>
                    </ol>
                </div>
            </div>
            <div class="alert alert-warning alert-dismissable" style="margin:0">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p style="font-size:16px;font-family: 'Monda', sans-serif;"><strong><i class="fa fa-exclamation-triangle"></i>  Tips:</strong> If you want to add an account, click the  <i class="fa fa-plus"></i> on the right.</p>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@ViewData["name"]</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-plus" data-toggle="modal" data-target="#add-account" title="add"></i>
                                    <i class="fa fa-expand"></i>
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
    </section>
    <!--delete modal start-->
    <div class="modal fade" id="delete-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title" id="myModalLabel"> Delete</h1>
                </div>
                <div class="modal-body">
                    <p style="font-size:16px;font-family: 'Monda', sans-serif;">Are you sure to delete [Firstname Lastname]'s account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!--delete modal end-->
    <!--add account modal start-->
    <div class="modal fade" id="add-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title" id="myModalLabel"> Add an account</h1>
                </div>
                <div class="modal-body">
                    <!--main content start-->
                    <div class="alert alert-warning alert-dismissable" style="margin:0">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <p style="font-size:16px;font-family: 'Monda', sans-serif;"><strong><i class="fa fa-exclamation-triangle"></i> Tips:</strong> If you want to add an account, you should also add a credit bound with it.</p>
                    </div>

                    <section class="main-content-wrapper" style="padding:0">
                        <section id="main-content" class="animated fadeInUp">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <section class="fuelux">
                                                <div id="MyWizard" class="wizard">
                                                    <ul class="steps">
                                                        <li data-target="#step1" class="active">
                                                            <span class="badge badge-info">1</span>Step 1<span class="chevron"></span>
                                                        </li>
                                                        <li data-target="#step3">
                                                            <span class="badge">2</span>Step 2<span class="chevron"></span>
                                                        </li>
                                                    </ul>
                                                    <div class="actions">
                                                        <button type="button" class="btn btn-default btn-mini btn-prev"> <i class="fa fa-chevron-left"></i> Prev</button>
                                                        <button type="button" class="btn btn-primary btn-mini btn-next" data-last="">
                                                            Next <i class="fa fa-chevron-right"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                @using (Html.BeginForm("CreateAccount", "Home", FormMethod.Post))
                                                {
                                                    <div class="step-content">
                                                        <input id="btn-create" type="submit" class="btn btn-success btn-block" value="Submit" />
                                                        <div class="step-pane active" id="step1">
                                                            @*<form class="form-horizontal">*@
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center;">Account Info</h2>
                                                                </div>
                                                            </div>
                                                            <label for="basic-url" style="color: #662d91;">First Name</label>
                                                            <div style="margin-bottom: 10px" class="input-group">
                                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                                <input type="text" class="form-control" name="firstname" value="" placeholder="firstname">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" name="firstname" value="" required="" placeholder="first name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="account_holder_lastname" class="col-sm-3 control-label">Last Name</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" id="account_holder_lastname" name="account_holder_lastname" required="" placeholder="last name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="account_address" class="col-sm-3 control-label">Address</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" id="account_address" name="account_address" required="" placeholder="address">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="input2" class="col-sm-3 control-label">Phone</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" id="input2" name="input2" required="" placeholder="(999) 999-9999">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="account_limit" class="col-sm-3 control-label">Limit</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" id="account_limit" name="account_limit" required="" placeholder="(0-25000)">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="account_balance" class="col-sm-3 control-label">Balance</label>
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" id="account_balance" name="account_balance" required="" placeholder="(0-25000)">
                                                                </div>
                                                            </div>
                                                            @*</form>*@
                                                        </div>
                                                        <div class="step-pane" id="step3">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center;">Card Info</h2>
                                                                </div>
                                                            </div>
                                                            <div class="card-wrapper"></div>
                                                            <form class="card-form form-horizontal">
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">Card number</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" name="number" placeholder="Card number" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">Full name</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" name="name" placeholder="Full name" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">Expiry</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" name="expiry" style="margin:0;" placeholder="MM/YYYY" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">CVC</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" name="cvc" style="margin:0 0 0 -4px;" placeholder="CVC" />
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <input id="btn-create" type="submit" class="btn btn-success btn-block" value="Submit" />
                                                            <div class="row">
                                                                <div style="margin-bottom: 10px" class="col-md-12 controls">
                                                                    <input id="btn-login" type="submit" class="btn btn-success btn-block" value="Log In" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <!--main content end-->
            </div>
        </div>
    </div>
    </div>
    <!--add modal end-->
    <!--Config demo-->
    <div id="config" class="config hidden-xs">
        <h4>Settings<a href="javascript:void(0)" class="config-link closed"><i class="icon-settings"></i></a></h4>
        <div class="config-swatch-wrap">
            <div class="row">
                <div class="col-xs-6">
                    <ul class="options">
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-default">
                                <span class="header bg-white"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-dark">
                                <span class="header bg-dark"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-blue">
                                <span class="header bg-info"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-blue-full">
                                <span class="header bg-info"></span>
                                <span class="header bg-info"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-grey">
                                <span class="header bg-grey"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-grey-full">
                                <span class="header bg-grey"></span>
                                <span class="header bg-grey"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="options">
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-dark-full">
                                <span class="header bg-dark"></span>
                                <span class="header bg-dark"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-green">
                                <span class="header bg-green"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-green-full">
                                <span class="header bg-green"></span>
                                <span class="header bg-green"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-red">
                                <span class="header bg-red"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-red-full">
                                <span class="header bg-red"></span>
                                <span class="header bg-red"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-dark-blue-full">
                                <span class="header bg-dark-blue"></span>
                                <span class="header bg-dark-blue"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/Config demo-->
    <!--Card JS-->
    <script src="~/js/card.js"></script>
    <!--Global JS-->
    <script src="~/assets/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/navgoco/jquery.navgoco.min.js"></script>
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/assets/plugins/pace/pace.min.js"></script>
    <script src="~/assets/plugins/fullscreen/jquery.fullscreen-min.js"></script>
    <script src="~/assets/js/src/app.js"></script>
    <!--Page Leve JS -->
    <script src="~/assets/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/wizard/js/loader.min.js"></script>
    <script src="~/assets/plugins/mask/js/jquery.maskedinput.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').dataTable();
        });
        $(document).ready(function () {
            app.formMask();
        });
    </script>
    <script>
        //card.js
        var card = new Card({
            form: '.card-form',
            container: '.card-wrapper',

            placeholders: {
                number: '**** **** **** ****',
                name: 'Full Name',
                expiry: '**/****',
                cvc: '***'
            }
        });
    </script>
</body>
</html>