<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Network Communication Monitor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" media="screen" />
    <link rel="Bookmark" href="~/favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts  -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/simple-line-icons.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Daterange Picker -->
    <link rel="stylesheet" href="~/assets/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- Calendar demo -->
    <link rel="stylesheet" href="~/assets/css/clndr.css">
    <!-- Switchery -->
    <link rel="stylesheet" href="~/assets/plugins/switchery/switchery.min.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <!-- Rewrtite CSS-->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <!-- Feature detection -->
    <script src="~/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <!-- Cytoscape.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.10/cytoscape.min.js"></script>
    <script src="~/js/cytoscape-cose-bilkent.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/vendor/html5shiv.js"></script>
    <script src="assets/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <section id="main-wrapper" class="theme-default">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="~/Home/Homepage" class="logo">
                    <i class="fa fa-desktop"></i>
                    <span>Network</span>Monitor
                </a>
            </div>
            <!--logo end-->
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
                <li class="hidden-xs hidden-sm">
                    <input type="text" class="search" placeholder="Search project...">
                    <button type="submit" class="btn btn-sm btn-search">
                        <i class="fa fa-search"></i>
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown profile hidden-xs">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="text">@Session["username"]</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <br />
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>My Account
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-cog"></i>
                                </span>Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="Index">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>Logout
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="toggle-fullscreen hidden-xs">
                    <button type="button" class="btn btn-default expand" id="toggle-fullscreen">
                        <i class="fa fa-expand"></i>
                    </button>
                </li>
            </ul>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar sidebar-left">
            <div class="sidebar-profile">
                <div class="profile-body dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>@Session["username"] <span class="caret"></span></h4></a>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>My Account
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="icon">
                                    <i class="fa fa-cog"></i>
                                </span>Settings
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="Index">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav>
                <h5 class="sidebar-header">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="#" title="Network">
                            <i class="fa fa-fw fa-share-alt"></i> Network
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Account" title="Account">
                            <i class="fa  fa-fw fa-user"></i> Account
                            <span class="label label-primary label-circle pull-right">@ViewData["NumAccounts"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Card" title="Credit Card">
                            <i class="fa  fa-fw fa-credit-card"></i> Credit Card
                            <span class="label label-primary label-circle pull-right">@ViewData["NumCards"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Store" title="Stores">
                            <i class="fa  fa-fw fa-home"></i> Stores
                            <span class="label label-primary label-circle pull-right">@ViewData["NumStores"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Station" title="Relay Stations">
                            <i class="fa  fa-fw fa-flag-checkered"></i> Relay Stations
                            <span class="label label-primary label-circle pull-right">@ViewData["NumRelays"]</span>
                        </a>
                    </li>
                    <li class="nav-dropdown">
                        <a href="Transaction" title="Transactions">
                            <i class="fa  fa-fw fa-exchange"></i> Transactions
                            <span class="label label-primary label-circle pull-right">@ViewData["NumTransactions"]</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper">
            <div class="pageheader">
                <h1>Network<span class="description" style="font-size:0.6em">  Welcome to Network Communication Monitor</span></h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li class="active">Network</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-1">
                                <a href="Account">
                                    <div class="panel panel-solid-success widget-mini">
                                        <div class="panel-body">
                                            <i class="fa fa-user"></i>
                                            <span class="total text-center">@ViewData["NumAccounts"]</span>
                                            <span class="title text-center">Accounts</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="Card">
                                    <div class="panel widget-mini">
                                        <div class="panel-body">
                                            <i class="fa fa-credit-card"></i>
                                            <span class="total text-center">@ViewData["NumCards"]</span>
                                            <span class="title text-center">Credit Cards</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="Store">
                                    <div class="panel panel-solid-info widget-mini">
                                        <div class="panel-body">
                                            <i class="fa fa-home"></i>
                                            <span class="total text-center">@ViewData["NumStores"]</span>
                                            <span class="title text-center">Stores</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="Station">
                                    <div class="panel widget-mini">
                                        <div class="panel-body">
                                            <i class="fa fa-flag-checkered"></i>
                                            <span class="total text-center">@ViewData["NumRelays"]</span>
                                            <span class="title text-center">Relay Stations</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="Transaction">
                                    <div class="panel panel-solid-warning widget-mini">
                                        <div class="panel-body">
                                            <i class="fa  fa-fw fa-exchange"></i>
                                            <span class="total text-center">@ViewData["NumTransactions"]</span>
                                            <span class="title text-center">Transactions</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--SVG start-->
            <div id="network-view">
                <div id="operation">
                    <div class="svg-expand pointer">
                        <i class="fa fa-fw fa-expand" title="fullscreen"></i>
                        <i class="fa fa-fw fa-home" data-toggle="modal" data-target="#add-store" title="add store"></i>
                        <i class="fa fa-fw fa-flag-checkered" data-toggle="modal" data-target="#add-relay" title="Add Relay"></i>
                        <i class="fa fa-fw fa-exchange" data-toggle="modal" data-target="#add-connection" title="Add Connection"></i>
                        <i class="fa fa-fw fa-th-large" data-toggle="modal" data-target="#add-region" title="Add Region"></i>
                        <i class="fa fa-play" data-toggle="modal" data-target="#add-transaction" title="Create Transaction"></i>
                        <i class="fa fa-fw fa-pause hidden" title="pause"></i>
                    </div>
                </div>
                <div id="cy" class="animated"></div>
                <!--add relay start-->
                @using (Html.BeginForm("AddRelay", "Home", FormMethod.Post))
                {
                    <div class="modal fade" id="add-relay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title" id="myModalLabel"><strong> Add a Relay Station</strong></h1>
                                </div>
                                <div class="modal-body">
                                    <!--main content start-->
                                    <section class="main-content-wrapper" style="padding:0">
                                        <section id="main-content" class="animated fadeInUp">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center; margin: -10px 0 15px 0;">Relay Info</h2>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label for="ipAddress" class="col-sm-4 control-label">IP Address</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="input5" name="input5" required minlength="11" maxlength="13" placeholder="192.168.0.XXX" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">IP Address To Connect To</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" id="ipConnectedTo" name="ipConnectedTo" required minlength="11" maxlength="13" placeholder="192.168.0.XXX" data-inputmask-regex="(192[.]168[.]0[.]d{1,3})" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="submit" class="btn btn-success btn-block" value="Add To Network" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <!--main content end-->
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--add relay end-->
                <!--add region start-->
                @using (Html.BeginForm("AddRegion", "Home", FormMethod.Post))
                {
                    <div class="modal fade" id="add-region" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title" id="myModalLabel"><strong> Add a Region</strong></h1>
                                </div>
                                <div class="modal-body">
                                    <!--main content start-->
                                    <section class="main-content-wrapper" style="padding:0">
                                        <section id="main-content" class="animated fadeInUp">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center; margin: -10px 0 15px 0;">Region Info</h2>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label for="ipAddress" class="col-sm-4 control-label">Region Name</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" name="region-name" required minlength="1" maxlength="15" placeholder="Region Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipAddress" class="col-sm-4 control-label">Gateway IP Address</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" name="gateway-ipAddress" required minlength="11" maxlength="13" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Relay IP Address</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" id="relay-ipaddress" name="relay-ipaddress" required minlength="11" maxlength="13" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="storeName" class="col-sm-4 control-label">Store Name</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="store-name" name="store-name" required minlength="1" maxlength="15" placeholder="Store Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Store IP Address</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" id="store-ipaddress" name="store-ipaddress" required="" minlength="11" maxlength="13" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="submit" class="btn btn-success btn-block" value="Add To Network" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <!--main content end-->
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--add region end-->
                <!--add store start-->
                @using (Html.BeginForm("AddStore", "Home", FormMethod.Post))
                {
                    <div class="modal fade" id="add-store" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title" id="myModalLabel"><strong> Add a Store</strong></h1>
                                </div>
                                <div class="modal-body">
                                    <!--main content start-->
                                    <section class="main-content-wrapper" style="padding:0">
                                        <section id="main-content" class="animated fadeInUp">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center; margin: -10px 0 15px 0;">Store Info</h2>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label for="storeName" class="col-sm-4 control-label">Store Name</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="storeName" name="storeName" required minlength="1" maxlength="15" placeholder="Store Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipAddress" class="col-sm-4 control-label">IP Address</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" name="ipAddress" required="" minlength="11" maxlength="13" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Relay To Connect</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" id="ipConnectedTo" name="ipConnectedTo" required="" minlength="11" maxlength="13" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="submit" class="btn btn-success btn-block" value="Add To Network" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <!--main content end-->
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--add store end-->
                <!--add connection start-->
                @using (Html.BeginForm("AddConnection", "Home", FormMethod.Post))
                {
                    <div class="modal fade" id="add-connection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title" id="myModalLabel"><strong> Add a Connection</strong></h1>
                                </div>
                                <div class="modal-body">
                                    <!--main content start-->
                                    <section class="main-content-wrapper" style="padding:0">
                                        <section id="main-content" class="animated fadeInUp">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center; margin: -10px 0 15px 0;">Connection Info</h2>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label for="ipOne" class="col-sm-4 control-label">IP Address One</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" name="ipOne" required minlength="13" maxlength="15" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipTwo" class="col-sm-4 control-label">IP Address Two</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control ipAddress" id="ipTwo" name="ipTwo" required minlength="13" maxlength="15" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="submit" class="btn btn-success btn-block" value="Add To Network" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <!--main content end-->
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--add connection end-->
                 <!-- add transaction start-->
                @using (Html.BeginForm("AddTransaction", "Home", FormMethod.Post))
                {
                    <div class="modal fade" id="add-transaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h1 class="modal-title" id="myModalLabel"><strong> Create a Transaction</strong></h1>
                                </div>
                                <div class="modal-body">
                                    <!--main content start-->
                                    <section class="main-content-wrapper" style="padding:0">
                                        <section id="main-content" class="animated fadeInUp">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <h2 style="text-align:center; margin: -10px 0 15px 0;">Transaction Info</h2>
                                                                </div>
                                                            </div>
                                                            <div class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label for="ipAddress" class="col-sm-4 control-label">IP Address of Store</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" name="ipAddress" required="" minlength="7" maxlength="15" placeholder="192.168.0.XXX">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Account Number</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="accountNumber" name="accountNumber" required="" minlength="1" maxlength="9" placeholder="1">
                                                                    </div>
                                                                </div>
                                                                @*<div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Transaction Amount</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="transactionAmount" name="transactionAmount" required="" minlength="1" maxlength="9" placeholder="1">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Transaction Date</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="transactionDate" name="transactionDate" required="" minlength="1" maxlength="9" placeholder="1">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="ipConnectedTo" class="col-sm-4 control-label">Transaction Category</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="transactionCategory" name="transactionCategory" required="" minlength="1" maxlength="9" placeholder="1">
                                                                    </div>
                                                                </div>*@
                                                                <div class="modal-footer">
                                                                    <input type="submit" class="btn btn-success btn-block" value="Add To Network" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </section>
                                    <!--main content end-->
                                </div>
                            </div>
                        </div>
                    </div>
                }
            <!-- add transaction end-->
            </div>
        </section>
        <!--main content end-->
    </section>
    <!--Config demo-->
    <div id="config" class="config hidden-xs">
        <h4>Settings<a href="javascript:void(0)" class="config-link closed"><i class="icon-settings"></i></a></h4>
        <div class="config-swatch-wrap">
            <div class="row">
                <div class="col-xs-6">
                    <ul class="options">
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-default">
                                <span class="header bg-white"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-dark">
                                <span class="header bg-dark"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-blue">
                                <span class="header bg-info"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-blue-full">
                                <span class="header bg-info"></span>
                                <span class="header bg-info"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-grey">
                                <span class="header bg-grey"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-grey-full">
                                <span class="header bg-grey"></span>
                                <span class="header bg-grey"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="options">
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-dark-full">
                                <span class="header bg-dark"></span>
                                <span class="header bg-dark"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-green">
                                <span class="header bg-green"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-green-full">
                                <span class="header bg-green"></span>
                                <span class="header bg-green"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-red">
                                <span class="header bg-red"></span>
                                <span class="header bg-white"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-red-full">
                                <span class="header bg-red"></span>
                                <span class="header bg-red"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                        <li>
                            <div class="theme-style-wrapper" data-theme="theme-dark-blue-full">
                                <span class="header bg-dark-blue"></span>
                                <span class="header bg-dark-blue"></span>
                                <span class="nav bg-dark"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/Config demo-->
    <!--Global JS-->
    <script src="~/assets/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/navgoco/jquery.navgoco.min.js"></script>
    <script src="~/assets/plugins/pace/pace.min.js"></script>
    <script src="~/assets/plugins/fullscreen/jquery.fullscreen-min.js"></script>
    <script src="~/assets/js/src/app.js"></script>
    <!--Page Level JS-->
    <script src="~/assets/plugins/mask/js/jquery.maskedinput.min.js"></script>
    <!-- ChartJS  -->
    <script src="~/assets/plugins/chartjs/Chart.min.js"></script>
    <!-- Morris  -->
    <script src="~/assets/plugins/morris/js/morris.min.js"></script>
    <script src="~/assets/plugins/morris/js/raphael.2.1.0.min.js"></script>
    <!-- Switch -->
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>
    <!--Load these page level functions-->
    <script>
        $(document).ready(function () {
        });
    </script>
    <!-- Cytoscape-->
    <script>
        const nodes = @Html.Raw(Json.Encode(ViewData["Nodes"]));
        const edges = @Html.Raw(Json.Encode(ViewData["Links"]));
        var data = [];
        var cy = cytoscape({
            container: document.getElementById('cy'), // container to render in

            elements: convertElements(),

            layout: {
                name: 'cose-bilkent',
                animate: false,
                idealEdgeLength: '100',

            },

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'width': 'mapData(baz, 0, 20, 20, 40)',
                        'height': 'mapData(baz, 0, 20, 20, 40)',
                        'shape': 'data(shape)',
                        'label': 'data(id)',
                        'background-color': 'data(color)',
                        'border-width': '2px',
                        'border-color': 'black'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'label': 'data(weight)',
                        'line-color': 'grey',
                        'opacity': '0.8'
                    }
                },
                {
                    selector: ':selected',
                    style: {
                        'background-color': 'black',
                        'line-color': 'black',
                        'target-arrow-color': 'black',
                        'source-arrow-color': 'black',
                        'opacity': 1
                    }
                },
            ],
            zoom: 1,
            pan: { x: 0, y: 0 },
            minZoom: 1e-1,
            maxZoom: 1e1,
            wheelSensitivity: 0.2
        });

        // Given two nodes this will start the round trip animation
        function animPath(startNode, endNode, isReturning) {
            var aStar = cy.elements().aStar({ root: startNode, goal: endNode });
            var path = Object.values(aStar.path)
            var start = path.shift();
            anim(start, path, isReturning);
        }

        // Animate a single node then call to the next node if neccessary
        function anim(node, nextNodes, isReturning) {
            var originalColor = node.data()["color"];

            node.animate({
                style: {
                    'background-color': 'black'
                }
            }, {
                duration: 500,
                complete: function () {
                    //console.log("First done");
                }
            })

            .animate({
                style: {
                    'background-color': originalColor
                }
            }, {
                duration: 500,
                complete: function () {
                    var next = nextNodes.shift();
                    if (typeof (next) == "number" && !isReturning)
                        process();
                    else if (typeof (next) == "number" && isReturning)
                        return;
                    else
                        anim(next, nextNodes, isReturning);
                }
            });
        }

        // Kicks off an animation when the page is loaded
        var transactionStart = @Html.Raw(Json.Encode(ViewData["TransactionStart"]));
        if (transactionStart != null) {
            var processingCenter = getNode("@NetworkCommunicationMonitor.Models.Relay.PROCESSINGCENTERIP");
            var startNode = getNode(transactionStart);
            animPath(startNode, processingCenter, false);
        }

        // Will be used to handle what happens at the processing center
        function process(hasProcessed) {
            animPath(processingCenter, startNode, true);
        }

        // Simple function to return a node from the list based off the ip
        function getNode(ipAddress) {
            var n = cy.nodes();
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i]["ipAddress"] == ipAddress) {
                    return n[i];
                }
            }
        }

        // This allows you to change the position of nodes at runtime
        //cy.nodes().positions(function (node, i) {
        //    return {
        //        x: 300 + i * 200,
        //        y: 100
        //    };
        //});

        testAnimPath();
        function testAnimPath() {
            var n = getNode("192.168.0.201");
            assembleAnim(n);
        }

        var currentAnimationPlayingIndex = 0;
        function assembleAnim(storeNode) {
            var processingCenter = getNode("@NetworkCommunicationMonitor.Models.Relay.PROCESSINGCENTERIP");
            var path = getPath(storeNode, processingCenter);
            var n = cy.nodes();

            var animationList = []

            // Assemble list of animations
            for (var i = 0; i < path.length; i++) {
                var animation = path[i].animation({
                    style: {
                        'background-color': 'black'
                    },
                    duration: 1000
                })
                animationList.push(animation);
            }

            newAnim(animationList, 0);
        }

        // Play the animation and try to continue
        function newAnim(animationList, currentAnimationPlayingIndex) {
            var node = animationList[currentAnimationPlayingIndex];

            node
                .play()
                .promise('completed').then(function () {
                    node
                        .reverse()
                        .rewind()
                        .play();

                    if (currentAnimationPlayingIndex < animationList.length - 1) {
                        currentAnimationPlayingIndex += 1;
                        newAnim(animationList, currentAnimationPlayingIndex)
                    }
                });
        }

        // Reverse the animation and recur to the next node
        // For some reason this isn't working when called in the completed promise
        function continueAnimation(animationList, currentAnimationPlayingIndex) {
            var node = animationList[currentAnimationPlayingIndex];
            node
                .reverse()
                .rewind()
                .play();

            if (currentAnimationPlayingIndex < animationList.length - 1) {
                currentAnimationPlayingIndex += 1;
                newAnim(animationList, currentAnimationPlayingIndex)
            }
        }

        // Calculate the round trip path from start to end
        function getPath(startNode, endNode) {
            var aStar = cy.elements().aStar({ root: startNode, goal: endNode });
            var pathToTruncate = Object.values(aStar.path)
            var truncatedPath = truncatePath(pathToTruncate);
            var returnPath = truncatedPath.slice(0);
            returnPath.reverse();

            //TODO: Seems weird that we have to shift twice to avoid animating the processing center twice
            returnPath.shift();
            returnPath.shift();
            
            return truncatedPath.concat(returnPath);
        }

        // The aStar cytoscape function returns a strange object, this extracts the path of nodes
        function truncatePath(aStarPath) {
            var truncated = [];

            for (var i = 0; i < aStarPath.length; i++) {
                if (typeof (aStarPath[i]) == "number")
                    return truncated;
                else
                    truncated.push(aStarPath[i]);
            }

            return truncated;
        }

        function convertElements() {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].group == 0) {  //processing center
                    data.push({ group: 'nodes', data: { id: nodes[i].id, color: 'red', shape: 'barrel', baz: '30' }});
                } else if (nodes[i].group == 1) {   //store
                    data.push({ group: 'nodes', data: { id: nodes[i].id, color: 'green', shape: 'ellipse', baz: '10' }});
                } else if (nodes[i].group == 2) {   //relay
                    data.push({ group: 'nodes', data: { id: nodes[i].id, color: 'blue', shape: 'triangle ', baz: '20' }});
                }
            }

            for (var i = 0; i < edges.length; i++) {
                data.push({ group: 'edges', data: { source: edges[i].source, target: edges[i].target, weight: edges[i].distance }});
            }
            return data;
        }
    </script>
</body>

</html>
